{
  "IsEncrypted": false,
  "Host": {
    "CORS": "http://localhost:3000",
    "CORSCredentials": false
  },
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",

    "DATABASE_URL": "mysql://USER:PASSWORD@YOUR_SERVER.mysql.database.azure.com:3306/velichamfifa26_dev?sslaccept=strict"
  }
}
