{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "MONGODB_URI": "mongodb://127.0.0.1:27017",
    "MONGODB_DB": "fifaPrediction",
    "JWT_SECRET": "your_jwt_secret",
    "JWT_EXPIRE": "7d",
    "GOOGLE_CLIENT_ID": "your_google_client_id",
    "FRONTEND_URL": "http://localhost:3000",
    "NODE_ENV": "development"
  },
  "Host": {
    "CORS": "*",
    "CORSCredentials": false
  }
}
